/* .mf_form__success,
.mf_form__errors {
	display:none;
}

.mf_form__errors p {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.mf_forms__container {
	clear: both;
    position: relative;
    margin-bottom: 32px;
}

.mf_field {
	display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin-bottom: 32px;
    position:relative;
}

.mf_field__input {
	box-shadow: 5px 5px 0 0 rgba(43,10,61,.2);
	height: 48px;
    border: 1px solid #2b0a3d;
    color: #000;
    font: 1rem/1.3 "ubuntu",Verdana,Arial,sans-serif;
    padding: 8px 24px 8px 16px;
    background: 0 0;
    width: 100%;
    transition: all .5s ease;;
}

.mf_field__input.empty{
    background-color: transparent;
    border: solid 1px #666;
}

.mf_field label {
	margin: 0 0 5px;
    top: -8px;
    font: .75rem/1.33 "ubuntu",Verdana,Arial,sans-serif;
    letter-spacing: .2px;
    position: absolute;
    z-index: 1;
    left: 8px;
    color: #666;
    background: #fff;
    padding: 0 8px;
}

.mf_field > label {
	display:block;
}

.mf_field__input.empty+label {
	margin-top: 0;
}

.mf_field input[type=radio],
.mf_field input[type=checkbox] {
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
}

.mf_field textarea {
    min-height: 100px;
}

.mf_field legend {
    font: 13px/2 "ubuntu",Verdana,Arial,sans-serif;
    position: static;
    display: block;
    color: #666;
    order: 1;
    margin: 0 0 10px;
} */

/* Submit button */

/* .mf_field--submit .mf_field__input {
    display: inline-block;
    font: 1rem/1 "ubuntu-md",Verdana,Arial,sans-serif;
    width: auto;
    min-width: 195px;
    border-radius: 100px;
    text-align: center;
    white-space: nowrap;
    transition: all .5s ease;
    padding: 0 20px;
    color: #0070ad;
    border: 2px solid #0070ad;
    line-height: 48px;
    height: auto;
    box-shadow: none;
    cursor: pointer;
}

.mf_field--submit .mf_field__input:hover,
.mf_field--submit .mf_field__input:focus {
	background: #0070ad;
    color: #fff;
    border-color: #0070ad;
}

.mf_field--submit .mf_field__input span {
    line-height: 30px;
}


.mf_field--radios ul,
.mf_field--checkboxes ul {
    width: 100%;
    order: 2;
    margin-left: 0;
    list-style: none !important;
    list-style-type: none;
}

.mf_field--radios ul li,
.mf_field--checkboxes ul li.
.mf_consent__wrapper {
    margin-left: 0;
    position: relative;
    display: block;
}

.mf_field--radios ul li:before,
.mf_field--checkboxes ul li:before,
.mf_consent__wrapper:before {
    display:none;
}

.mf_field--radios input+label,
.mf_field--checkboxes input+label,
.mf_consent__wrapper input+label {
    font-size: 13px;
    cursor: pointer;
    position: static;
    display: inline-block;
    color: #666;
}

.mf_field--radios input+label::before,
.mf_field--checkboxes input+label::before,
.mf_consent__wrapper input+label::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    box-shadow: 5px 5px 0 0 rgba(43,10,61,.2);
    font-size: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 15px;
    margin-bottom: 5px;
    transition: .5s all;
}

.mf_field--radios input+label::before {
    border-radius: 50%;
}

.mf_field--radios input:checked+label::before,
.mf_field--checkboxes input:checked+label::before,
.mf_consent__wrapper input:checked+label::before {
    content: '';
    border: 1px solid #000;
    box-shadow: 5px 5px 0 0 rgba(43,10,61,.2), inset 0 0 0 5px #fff;
    background: #2b0a3d;
}

.mf_field--file .mf_fileupload_btn {
    background: #fff;
    display: inline-block;
    font: 1rem/1 "ubuntu",Verdana,Arial,sans-serif;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    transition: all .5s ease;
    color: #666;
    border: 2px dotted #666;
    line-height: 48px;
}

.mf_field--file input[type=file] {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    padding:0;
}

.mf_field span.mf_fileupload__remove {
    color: #0070ad!important;
    margin-left:4px;
    cursor:pointer;
}

.mf_field p.mf_fileupload__uploaded {
    margin-top: 5px;
    font: 13px/2 "ubuntu",Verdana,Arial,sans-serif!important;
}

.mf_disabled button {
    opacity: .6;
}

.mf_field_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mf_field_info span {
    font: 13px/2 "ubuntu",Verdana,Arial,sans-serif!important;
    color: #666!important;
    width: 100%;
    flex: 0 0 auto;
} */

/*********
 * select2 styles
 *********/

/* .select2-container--default .select2-results__option--highlighted[data-selected=true] {
	background-color: rgb(236,236,236);;
	color: rgb(0,112,173);
}

.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: rgb(0,112,173);
  color: rgb(255,255,255);
}

.select2-container--default .select2-results__option[data-selected=true]:before {
  font-family: "wcms-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\6b';
  font-size: 10px;
  color: white;
  position: absolute;
  top: 12px;
  left: 8px;
  display: block;
  margin-left: 0;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2.select2-container--focus {
  border: 2px solid #0070ad;
  padding-bottom: 7px;
}

.select2 {
  height: 48px;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: 0;
  background: none;
}
.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2 {
  border: 0;
  border: 1px solid #2b0a3d;
  color: black;
  font: 1rem/1.3 "ubuntu", Verdana, Arial, sans-serif;
  padding: 8px 24px 8px 16px;
  background: transparent;
  width: 100%;
  transition: all 0.5s ease;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: 0;
  background: none;
}
.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.mf_form__form ul {
  width: 100%;
  order: 2;
  margin-left: 0;
  list-style: none;
}

.mf_form__form .mf_field.mf_has_errors ul {
  margin-bottom:0;
}

.select2-search--dropdown {
  padding: 0;
  border: 0;
  height: 60px;
  margin: 0 24px;
}

.select2-search--dropdown i {
  font-size: 16px;
  color: #73777a;
  position: absolute;
  top: 14px;
  left: 24px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 0;
  height: 40px;
  background: none;
  font: 0.9375rem/1.67 "ubuntu", Verdana, Arial, sans-serif;
  padding: 8px 0 0 27px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: none;
  border-color: #0070ad;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus + i {
  color: #2b0a3d;
}

.select2-container--default .select2-search--dropdown .select2-search__field::-webkit-input-placeholder {
  color: #666666;
}

.select2-container--default .select2-search--dropdown .select2-search__field::-moz-placeholder {
  color: #666666;
}

.select2-container--default .select2-search--dropdown .select2-search__field:-ms-input-placeholder {
  color: #666666;
}

.select2-container--default .select2-search--dropdown .select2-search__field:-moz-placeholder {
  color: #666666;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  height: auto;
  width: auto;
  margin-left: -9px;
  margin-top: -4px;
  color: #666666;
  transition: all 0.5s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  font-family: "wcms-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\6f';
  font-size: 12px;
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: -5px;
  transition: all 0.5s ease;
}

.select2-results__options {
  margin: 0;
  color: #2b0a3d;
}

.single-input .select2-results__option:first-child {
  display: none;
}

.select2-results__option {
  font: 0.875rem/1.79 "ubuntu", Verdana, Arial, sans-serif;
  color: #0070ad;
  padding: 7px 4px 2px 27px;
  min-height: 34px;
}

.select2-results__option:before {
  display: none;
}

.select2-container--open .select2-dropdown {
  top: -60px;
}

.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #0070ad;
  color: white;
}

.select2-container--default .select2-results__option--highlighted[data-selected=true] {
  background-color: #0070ad;
  color: white;
}

.mf-required--symbol,
label .mf-required--symbol,
span.mf-required--symbol {
  content: '*';
  display: inline-block;
  position:relative;
  color: #e80000!important;
  order: 2;
  left: 2px;

}

.mf_field--hidden label {
	display: none;
}

.mf_field--file .mf_fileupload_btn {
    background: #fff;
    display: inline-block;
    font: 1rem/1 "ubuntu",Verdana,Arial,sans-serif;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    transition: all .5s ease;
    color: #666;
    border: 2px dotted #666;
    line-height: 48px;
}

.mf_field--file input[type=file] {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    padding:0;
}

input.mf_fileupload_callback_id {
  display:block;
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
}

.mf_field span.mf_fileupload__remove {
    color: #0070ad!important;
    margin-left:4px;
    cursor:pointer;
}

.mf_field p.mf_fileupload__uploaded {
    margin-top: 5px;
    font: 13px/2 "ubuntu",Verdana,Arial,sans-serif!important;
}

.mf_disabled button {
    opacity: .6;

}

.mf_has_errors .mf_error,
.mf_error.mf_email_error {
	color: #ff304d !important;
  margin-top: 8px;
  font: .75rem/1.33 "ubuntu",Verdana,Arial,sans-serif;
  order: 2;
}

.mf_has_errors input, .mf_has_errors textarea {
  border-bottom: 2px solid #ff304d !important;
  box-shadow: 5px 5px 0 0 rgba(255,48,77,.2) !important;
}

.mf_has_errors label {
  color: #ff304d !important;
}

.mf_error.mf_email_error,
.mf_field--file .mf_error {
  color: #ff304d !important;
  margin-top: 8px;
  font: .75rem/1.33 "ubuntu",Verdana,Arial,sans-serif;
}

.mf_field--checkboxes.mf_has_errors label::before {
	border: 2px solid #ff304d !important;
	box-shadow: 5px 5px 0 0 rgba(255,48,77,.2) !important;
	box-sizing: border-box;
}

.mf_field--checkboxes--error,
.mf_field--radios--error {
	position: absolute;
	bottom: 0;
	color: #ff304d !important;
	font: .75rem/1.33 "ubuntu",Verdana,Arial,sans-serif;
}

.mf_field--radios.mf_has_errors label::before {
	border: 2px solid #ff304d !important;
	box-shadow: 5px 5px 0 0 rgba(255,48,77,.2) !important;
	box-sizing: border-box;
}

.mf_error_shadow {
	border-bottom: 2px solid #ff304d !important;
	box-shadow: 5px 5px 0 0 rgba(255,48,77,.2) !important;
	box-sizing: border-box;
} */
